
/* Typography */
$main-font: "Montserrat", arial, helvetica, sans-serif;
$maiden-orange-regular: "MaidenOrangeRegular", arial, helvetica, sans-serif;
$font-size-base: 27px;
$line-height-base: 29px;


/*Background*/
$body-bg: #fff;

/*Color*/

$white-color: #fff;
$black-color: #000;
$light-yellow: #ffc15e;
$dark-yellow: #f6aa1c;
$red-color: #e15554;